@import '../global.scss';

.social-link {
  // margin: 0 0.375em;
  font-size: 1.75em;
  opacity: 0.8;
  padding: 0.125em 0.5em;

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: 1px dotted white;
  }
}
