//// import variables ////
@import './vars.scss';


//// global styles ////
//resets



//layout
.container {
  max-width: $max-width;
  margin: 0 auto;

  @media only screen and (max-width: $max-width * 1.1) {
    padding-left: 5%;
    padding-right: 5%;
  }
}

//body
//body classes are applied via props passed to the SEO component
body.blue {
  background: $blue;
  color: white;
}

body.center {
  .main-content {
    text-align: center;
  }
}

//typography
//mostly configured via typography.js
//overrides or new styles here

a {
  color: $blue;
  text-decoration: none;
  font-weight: 600;

  &:focus {
    outline: 1px dotted $orange;
    outline-offset: 1px;
  }

  &:hover {
    text-decoration: underline;
    color: $orange;
  }
}

//images

//accessibility
.visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
