////// variables //////

//base colors
$orange: #c9510c;
$blueLight: #A5D6DF;
$blue: #008198;
$grayLight: #ddd;
$gray: #666;
$grayDark: #2f2f2f;

//layout
$max-width: 960px;

//block styles
$base-radius: 8px;
